@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  font-family: "Orbitron", sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  margin-bottom: 15rem;
}
form {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

select {
  font-size: 2rem;
  padding: 10px;
  border: none;
  background: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-family: "Orbitron", sans-serif;
}
select:hover {
  color: white;
  background: #000;
}
input {
  color: white;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.062);
}
#currency-num {
  color: white;
}
label {
  margin-bottom: 10px;
}
button {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  border: 3px solid white;
  color: white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.11);
  transition: all 0.3s ease;
}
button:hover {
  color: black;
  background: white;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  form {
    font-size: 1rem;
  }

  select {
    font-size: 1rem;
    padding: 5px;
  }

  input {
    font-size: 1rem;
    padding: 5px;
  }
  button {
    font-size: 1rem;
    padding: 5px;
  }
}
